@model IEnumerable<RollOff.Models.Roll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimarySkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RollOffEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForRollOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThisReleaseNeedsBackfillIsBackfilled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnderProbation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleCompetencies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelevantExperienceYrs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimarySkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RollOffEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForRollOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThisReleaseNeedsBackfillIsBackfilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnderProbation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalSkills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Communication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleCompetencies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelevantExperienceYrs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
